<article id="id-{{ id }}" class="[ {{ class }} ] wrapper bg-(--color-bg) text-(--color-text)" aria-labelledby="">
    <header class="mb-gutter ">
        <div class="md:px-xl lg:px-xxl flow-y pb-gutter">
            <ul class="flex flex-wrap gap-2">
                <li class="font-heading font-medium py-05em px-1em text-xs bg-light-shade rounded-sm inline-block"><time class="" datetime="{{ date }}">{{ date | format('F \k\l. H.i') }}</time></li>
                <li class="font-heading font-medium py-05em px-1em text-xs bg-light-shade rounded-sm inline-block">Læsetid: {{ main_content | read_time }} min</li>
            </ul>
            <h1 class="flow-space-100">{{ title }}</h1>
        </div>
        <div class="image-overlay rounded-sm overflow-clip" style="view-transition-name: {{ collection }}-image-{{ title | slugify }};">
            {{ partial:components/image :imagePath="featured_media" w="1000" class="w-full" }}
        </div>
    </header>
    <div class="md:px-xl lg:px-xxl flow-y page-content @container">
        {{ main_content }}
            {{ partial src="sets/{type}" }}
        {{ /main_content }}
    </div>
</article>

{{ style_push }}
    <style>
        #id-{{ id }}{
            {{ partial:color_scheme_style }}
            {{ partial:spacing_sides_css }}
        }
        {{ if settings.css }}{{ scope_css :css="settings.css" :id="id" }}{{ /if }}
        @scope(.{{ class }}){
            :scope {
              
            }
        }
    </style>
{{ /style_push }}